
#container{
    width: 20%;
    height: 500px;
    background-color: rgba(59, 54, 54, 0.096);
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;

}
#logo img{
    margin-top: 50px;
    text-align: center;
}
#inputs input{
    width: 80%;
    border-radius: 20px;
    padding: 5px;
    margin-top: 16px;
    outline: none;
    border: none
}
input:focus{
    box-shadow: 1px 1px 5px rgba(75, 75, 251, 0.856);
    outline: rgb(92, 92, 255);
}
#submit-button{
    width: 80%;
    border-radius: 20px;
    padding: 5px;
    margin-top: 40px;
    background-color: blue;
    text-align: center;
    color: white;
    margin-left:21px; 
}
#container span{
    color: blue;
    cursor: pointer;
}
#container p{
    margin-top: 20px;
}
#submit-button:hover{
    background-color: rgba(0, 0, 255, 0.616);
    cursor: pointer;
}